<template>

<article
	:class="['content-holder', '-single-entry', '-article', '-' + $route.params.Slug ]"
>
	<div class="_article-inner -bg-aztec-lite-very">

		<header>

			<h1>{{ article.Title }}</h1>

			<div class="_blurb" v-html="$md.render(article.Blurb)"></div>

		</header>

		<div class="_body-outer">

			<the-attribution
				:date="article.Publish_Date"
				:authors="article.Authors"
			/>

			<div class="_body">

				<div v-html="$md.render(article.Body)"></div>

				<figure class='illustration'>

					<!--
					<img v-for="image in article.Images.slice(0,1)"
						:key="image.public_id"
						v-lazy="'https://res.cloudinary.com/via-montessori/image/upload/c_scale,w_901,q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + image.public_id"
					>
					-->

					<v-lazy-image
						:alt="article.Title"
						v-for="image in article.Images.slice(0,1)"
						:key="image.public_id"
						:src="processImageURL(image.url, '901')"
					/>

				</figure>

			</div>

		</div>

	</div>
</article>

</template>


<script>

// import TheAttribution from '@/components/TheItem/TheAttribution';
import TheAttribution from '@/components/TheItem/TheAttribution';

export default {

	props: {
		article: {
			required: true
		},
	},
	components: {
		TheAttribution
	},
	head () {
		return {
			title: this.article.Title,
			meta: [
			{
				hid: 'description',
				name: 'description',
				content: this.article.Blurb
			}]
		}
	},
	computed: {
		IllustratedBody: function() {
			// ADAM 2018 JULY 31: Can't get this working with v-lazy; thought to do it in parent but didn't spend enough time to figure out how to pass it all

			// Create the image's HTML
			let imgHtml = `<p class='illustration'>
				<img
					src='http://localhost:1337` + this.article.Image.url + `
				'>
			</p>`;
			// Find the image signifier within the HTML
			let bodyArray = this.article.Body.split('!-!');
			// Put it all back together
			bodyArray.splice(1, 0, imgHtml);
			return bodyArray.join('');
		}
	},
	methods: {
		processImageURL(url, width) {
			let code = url.substring(url.lastIndexOf('/') + 1);
			let newURL = 'https://res.cloudinary.com/via-montessori/image/upload/if_w_gt_' + width + ',c_scale,w_' + width + '/q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + code;
			return newURL;
		}
	},
}

</script>


<style lang="scss">

.-article.-single-entry
{
	background: linear-gradient( #fff 62%, #cabc76 );

	h1 {

		font-weight: 700;
		padding-bottom: 0;
		padding-top: 3.25rem;

		@media ($for-mobile) {

			line-height: 1.25;
			margin-bottom: 0.09rem; // See what we did here? Title slightly squishier than blurb, then make up the diff
			padding-top: 1.75rem;
		 }
	}

	._blurb {

		padding-bottom: 2.75rem;

		@media($for-mobile) {

			padding-bottom: 1rem;
		}
	}

	._body-outer {

		// Enables attribution placement
		margin-left: auto;
		margin-right: auto;
		max-width: 44rem;

		._attribution {

			line-height: 1.25;
			margin-bottom: 0.25rem;
			text-align: right;

			&._date {

				margin-bottom: 0rem;
			}

			p {
				.-person-name {

					display: inline-block;
				}
			}
		}

		._body {

			overflow: visible; // overrides hidden

			.illustration {

				margin-top: 2rem;

				@media($for-larger) {

					margin-bottom: 2rem;
					margin-left: 0;
					margin-right: -38.2% !important;
					margin-right: 0;
					max-width: none;
				}

				img {

					background: #fff;
					border-radius: 1rem;
					border: 0.25rem solid #fff;
					margin-left: -0.25rem;
					margin-right: -0.25rem;
					width: 100%;

					@media($for-mobile) {

						border: 0.125rem solid #fff;
					}
				}
			}

			// Dropcap
			p:first-child:first-letter {

				color: #333;
				float: left;
				font-family: $whitney;
				font-size: 3.25em; // Relative to local size this time; rare
				font-weight: 700;
				line-height: 0.8;
				margin-right: 0.25rem;
				padding-left: 0;
				padding-top: 0.1em;

				@media($for-mobile) {

					padding-top: 0.05em;
				}

			}

			p:first-child:first-line {

				font-weight: 600;
			}
		}
	}
}

</style>