<template>

<div class="wrapper -learning-areas">

     <the-item
          v-for="learningarea in learningareas"
          :key="learningarea.id"
          :learningarea="learningarea"
     >
     </the-item>

     <aside>
          <activities-deck/>
     </aside>

</div><!-- /.wrapper -->

</template>


<script>

import TheItem from '@/components/TheItem/TheLearningArea';
import ActivitiesDeck from '@/components/ActivitiesDeck';
import learningareas from '@/queries/learningarea.gql';

export default {
     components: {
          TheItem,
          ActivitiesDeck,
     },
     head: {
          title: "..."
     },
     /*
     transition(to, from) {
          if (!from) return 'slide-left'
          return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
     },
     */
     apollo: {
          learningareas: {
               query: learningareas,
               prefetch: ({ route }) => {
                    return {
                         slug: route.params.Slug
                    }
               },
               variables() {
                    return {
                         slug: this.$route.params.Slug,
                    }
               },
               // pollInterval: 5000
          }
     },
}

</script>


<style lang="scss">

.wrapper.-learning-areas {
     background: #fff;
     padding-top: 0.5rem;
}

</style>