<template>

<div class="wrapper -educators">

     <the-item
          v-for="user in users"
          :key="user.id"
          :educator="user"
     >
     </the-item>

     <div class="_article-after"></div>


</div><!-- /.wrapper -->

</template>


<script>

import TheItem from '@/components/TheItem/TheEducator';
import users from '@/queries/educator.gql';

export default {
     components: {
          TheItem,
     },
     head: {
          title: "..."
     },
     apollo: {
          users: {
               query: users,
               prefetch: ({ route }) => {
                    return {
                         slug: route.params.Slug
                    }
               },
               variables() {
                    return {
                         slug: this.$route.params.Slug,
                    };
               },
               // pollInterval: 5000
          }
     },
}

</script>


<style lang="scss">

._article-after {

     background-color: $chinese-red;
     height: 0.75rem;
}

</style>