<template>

<section class="maria-museum">

	<div class="_portraits -scroll-area">

		<!--
		<v-lazy-image
			:alt="memorial.Title"
			v-for="memorial in memorials"
			:key="memorial.Image.public_id"
			:src="'https://res.cloudinary.com/via-montessori/image/upload/c_scale,h_224,q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + memorial.Image.public_id"
		/>
		-->

		<v-lazy-image
			:alt="memorial.Title"
			v-for="memorial in memorials"
			:key="memorial.Image.id"
			:src="processImageURL(memorial.Image.url, '224')"
		/>

	</div>

	<div class="_museum-texts">
		<p>
			<span class="-person-name">Maria Tecla Artemisia Montessori</span><br>
			<span class="-date">1870–1952</span>
		</p>
		<ul class="_maria-links -links">
			<li>
				<a rel="noopener" target="_blank" href="https://montessori-ami.org/resource-library/facts/biography-dr-maria-montessori">
					Biography at AMI (Association Montessori Internationale)
				</a>
			</li>
			<li>
				<a rel="noopener" target="_blank" href="https://en.wikipedia.org/wiki/Maria_Montessori">
					Entry&nbsp;at&nbsp;Wikipedia
				</a>
			</li>
			<li>
				<a rel="noopener" target="_blank" href="https://www.amazon.com/default/e/B001H6OKBG/">
					Amazon author&nbsp;page
				</a>
			</li>
		</ul>
	</div>

</section>

</template>


<script>

import allMemorials from '@/queries/memorials.gql';

export default {
	data () {
		return {
			memorials: []
		}
	},
	apollo: {
		memorials: {
			prefetch: true,
			query: allMemorials,
			// pollInterval: 10000 // Can't do this magic with prefetch
		},
	},
	methods: {
		processImageURL(url, width) {
			let code = url.substring(url.lastIndexOf('/') + 1);
			let newURL = 'https://res.cloudinary.com/via-montessori/image/upload/if_w_gt_' + width + ',c_scale,w_' + width + '/q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + code;
			return newURL;
		}
    }
}
</script>


<style lang="scss">

.maria-museum {

	background: #800909;
	border-radius: 0.5rem;
	color: #ddd;
	display: inline-block;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 90%;
	padding: 1.5rem;

	@media ($for-non-mobile)  {

		font-size: 1.25rem;
	}

	@media ($for-reduced)  {

		margin-top: 2rem;
	}

	@media ($for-mobile)  {

		margin-bottom: 0;
		margin-top: 0.75rem;
		max-width: 100%;
		padding: 1rem;
	}

	._portraits {

		align-items: flex-start;
		background: #757676;
		border-radius: 0.25rem;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow: scroll;
		padding: 0.5rem;

		@media ($for-largest)  {

			flex-wrap: wrap;
			justify-content: center;
			overflow: auto;
		}


		img {

			height: 14rem;
			padding: 0.25rem;
			width: auto;

			@media ($for-larger) {

				height: 15rem;
				padding: 0.5rem;
			}
		}

		img:last-of-type {

			@media ($for-mobile)  {

				padding-right: 0.75rem;
			}
		}
	}

	._museum-texts {

		display: flex;
		justify-content: space-between;
		line-height: 1.25;

		@media ($for-mobile) {

			flex-direction: column;
			margin-left: auto;
			margin-right: auto;
			width: 61.8%; // otherwise the line is long, too long
		}

		p {

			order: 2;
			padding-bottom: 0.25rem;
			padding-top: 0.75rem;
			text-align: right;
			width: 38.2%;

			@media ($for-mobile) {

				order: 1;
				text-align: center;
				width: 100%;
			}
		}

		._maria-links {

			color: #fff;
			order: 1;
			padding-bottom: 0.75rem;
			padding-left: 0;
			padding-top: 0.75rem;
			text-align: left;
			width: 61.8%;

			@media ($for-mobile) {

				order: 2;
				padding: 0;
				text-align: center;
				width: 100%;
			}

			li {

				display: inline-block;
				margin-bottom: 0.25rem;
				padding-right: 0.25rem;

				@media ($for-mobile) {

					display: block;
					margin-bottom: 0.5rem;
					padding-right: 0;
				}

				&::before {

					@media ($for-non-mobile) {

						content: '●';
					}
				}

				a {

					color: #fdcf58;
					font-weight: 700;

					&:hover {

						color: #fff;
					}
				}
			}
		}
	}
}

</style>