<template>

     <svg version="1.1" class="shapes" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1280 800" enable-background="new 0 0 1280 800" xml:space="preserve">
<rect x="45.5" y="30.2" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 117.3374 26.9818)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1006.9,789.1c-2.4-1.3-11.3-8.1-13.3-10"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M994.8,790.4c2-1.8,9.3-10.3,10.8-12.6"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M242.8,509.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M254.9,510.1c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M126.7,757.6c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M113,768.3c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M115.9,785.5c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M132.4,791.1c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M145.2,779.4c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M141,762.5c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		898.8,779.4 903.1,806.9 876.4,795.9 	"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	482.1,385.2 492.1,385.2 492.1,395.2 502.2,395.2 502.2,405.3 "/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1147.8" cy="469.6" r="11.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M639.7,887.6c-6.6,3.1-14.1,0.8-17.9-5.7c-3.8-6.5-2.1-14.1,3.9-18.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1222.3,559.3c6,4.1,7.9,11.7,4.2,18.3c-3.7,6.5-11.1,9-17.7,6"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="22" cy="250.7" r="11.3"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="518.4" cy="22.1" r="11.3"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="136.3" cy="50.7" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M277.6,17.1c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M263.9,27.8c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M266.8,45c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M283.3,50.7c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M296.1,38.9c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M291.9,22.1c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	363.9,242 353.9,242 353.9,232 343.8,232 343.8,222 "/>
<rect x="45.5" y="477.7" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 433.7469 790.9246)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M68.2,405.1c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M80.3,405.8c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M988.9,561.2c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1001,561.9c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	794.1,223.2 804.1,223.2 804.1,233.2 814.2,233.2 814.2,243.2 "/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M313,279.5c-7.2-1.2-12.1-7.3-11.5-14.8s6.3-12.8,13.6-12.9"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1238.6,796.3c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1224.9,807c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1227.8,824.1c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1244.3,829.8c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1257.1,818.1c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1252.9,801.2c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M313,727c-7.2-1.2-12.1-7.3-11.5-14.8s6.3-12.8,13.6-12.9"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="518.4" cy="250.7" r="11.3"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="136.3" cy="498.2" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M750.7,256c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M762.8,256.7c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M942.4,727c-7.2-1.2-12.1-7.3-11.5-14.8s6.3-12.8,13.6-12.9"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1127.6,779c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1139.7,779.7c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M359.6,561.2c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M371.7,561.9c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M756.1,310.1c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M742.4,320.8c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M745.3,338c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M761.7,343.6c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M774.5,331.9c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M770.4,315c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M534.4,486c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M546.6,486.6c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	529.7,139.4 539.8,139.4 539.8,149.4 549.8,149.4 549.8,159.4 "/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M872.2,509.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M884.3,510.1c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M534.4,38.4c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M546.6,39.1c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M477.4,42.6c-3.9,3.9-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1
	s-8.2-0.3-12.1,3.6"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	363.9,689.5 353.9,689.5 353.9,679.5 343.8,679.5 343.8,669.5 "/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	1159.1,586.9 1169.1,586.9 1169.1,596.9 1179.1,596.9 1179.1,606.9 "/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	794.1,670.7 804.1,670.7 804.1,680.7 814.2,680.7 814.2,690.7 "/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1127.6,331.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1139.7,332.2c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		269.5,779.4 273.7,806.9 247,795.9 	"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M121.3,703.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M133.5,704.2c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M121.3,256c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M133.5,256.7c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M498.2,331.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M510.3,332.2c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M639.7,440.1c-6.6,3.1-14.1,0.8-17.9-5.7c-3.8-6.5-2.1-14.1,3.9-18.3"/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		246.7,584.4 267.9,602.3 240.6,611.6 	"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		876,136.9 897.3,154.8 869.9,164 	"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M746.6,198.8c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6
	c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M872.2,62c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M884.3,62.6c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1025.4" cy="355.2" r="11.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M945.6,896c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1
	c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M242.8,62c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M254.9,62.6c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<rect x="674.8" y="30.2" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1191.6707 -417.9378)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="396" cy="355.2" r="11.3"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	993.2,242 983.2,242 983.2,232 973.2,232 973.2,222 "/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="765.6" cy="50.7" r="11.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M593,111.8c6,4.1,7.9,11.7,4.2,18.3c-3.7,6.5-11.1,9-17.7,6"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M756.1,757.6c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M742.4,768.3c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M745.3,785.5c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M761.7,791.1c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M774.5,779.4c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M770.4,762.5c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M750.7,703.5c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M762.8,704.2c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1222.3,111.8c6,4.1,7.9,11.7,4.2,18.3c-3.7,6.5-11.1,9-17.7,6"/>
<rect x="177.2" y="861.8" transform="matrix(-0.9379 0.3469 -0.3469 -0.9379 659.7706 1620.6726)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="651.3" cy="250.7" r="11.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1106.7,490.1c-3.9,3.9-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6c-3.9,3.9,0.3,8.2-3.6,12.1c-3.9,3.9-8.2-0.3-12.1,3.6
	c-3.9,3.9,0.3,8.2-3.6,12.1c-3.9,3.9-8.2-0.3-12.1,3.6"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1025.4" cy="802.7" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M377.5,341.6c-2.4-1.3-11.3-8.1-13.3-10"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M365.5,342.9c2-1.8,9.3-10.3,10.8-12.6"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M945.6,448.4c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1
	c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6"/>
<rect x="177.2" y="414.3" transform="matrix(-0.9379 0.3469 -0.3469 -0.9379 504.5261 753.4689)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<rect x="1220.3" y="715.5" transform="matrix(-0.2205 0.9754 -0.9754 -0.2205 2203.8499 -315.1469)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M498.2,779c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M510.3,779.7c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M477.4,490.1c-3.9,3.9-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6c-3.9,3.9,0.3,8.2-3.6,12.1c-3.9,3.9-8.2-0.3-12.1,3.6
	c-3.9,3.9,0.3,8.2-3.6,12.1c-3.9,3.9-8.2-0.3-12.1,3.6"/>
<rect x="590.9" y="715.5" transform="matrix(-0.2205 0.9754 -0.9754 -0.2205 1435.7526 298.8025)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	1111.5,832.7 1121.5,832.7 1121.5,842.7 1131.5,842.7 1131.5,852.8 "/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		1080,175.9 1106.4,184.8 1084.4,203.4 	"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M277.6,464.6c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M263.9,475.4c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M266.8,492.5c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M283.3,498.2c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M296.1,486.4c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M291.9,469.6c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		898.8,331.9 903.1,359.3 876.4,348.4 	"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M117.3,646.3c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6
	c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1"/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		1080,623.4 1106.4,632.3 1084.4,651 	"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M697.5,852.6c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M709.6,853.3c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M942.4,279.5c-7.2-1.2-12.1-7.3-11.5-14.8s6.3-12.8,13.6-12.9"/>
<rect x="674.8" y="477.7" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 1508.0802 346.005)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1238.6,348.8c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1224.9,359.5c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1227.8,376.6c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1244.3,382.3c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1257.1,370.6c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1252.9,353.7c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M33.6,133.5c-5.4,4.9-13.3,4.8-18.7-0.4c-5.5-5.1-6-13-1.5-18.7"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M609.3,796.3c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M595.6,807c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M598.5,824.1c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M614.9,829.8c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M627.7,818.1c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M623.6,801.2c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		876,584.4 897.3,602.3 869.9,611.6 	"/>
</g>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		450.7,623.4 477,632.3 455,651 	"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M117.3,198.8c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6
	c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M33.6,581c-5.4,4.9-13.3,4.8-18.7-0.4c-5.5-5.1-6-13-1.5-18.7"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="765.6" cy="498.2" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M907,464.6c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M893.3,475.4c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M896.2,492.5c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M912.6,498.2c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M925.4,486.4c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M921.3,469.6c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	164.8,223.2 174.8,223.2 174.8,233.2 184.8,233.2 184.8,243.2 "/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1147.8" cy="698.2" r="11.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1269.1,887.6c-6.6,3.1-14.1,0.8-17.9-5.7s-2.1-14.1,3.9-18.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M746.6,646.3c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6
	c-3.9-3.9,0.3-8.2-3.6-12.1c-3.9-3.9-8.2,0.3-12.1-3.6c-3.9-3.9,0.3-8.2-3.6-12.1"/>
<rect x="806.6" y="861.8" transform="matrix(-0.9379 0.3469 -0.3469 -0.9379 1879.4594 1402.2811)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="651.3" cy="698.2" r="11.3"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1147.8" cy="250.7" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1006.9,341.6c-2.4-1.3-11.3-8.1-13.3-10"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M994.8,342.9c2-1.8,9.3-10.3,10.8-12.6"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	482.1,832.7 492.1,832.7 492.1,842.7 502.2,842.7 502.2,852.8 "/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="518.4" cy="698.2" r="11.3"/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		450.7,175.9 477,184.8 455,203.4 	"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M907,17.1c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M893.3,27.8c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M896.2,45c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M912.6,50.7c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M925.4,38.9c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M921.3,22.1c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M68.2,852.6c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M80.3,853.3C78,854.7,69.5,862,67.5,864"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M377.5,789.1c-2.4-1.3-11.3-8.1-13.3-10"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M365.5,790.4c2-1.8,9.3-10.3,10.8-12.6"/>
</g>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	164.8,670.7 174.8,670.7 174.8,680.7 184.8,680.7 184.8,690.7 "/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M316.2,896c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1
	c3.9-3.9,8.2,0.3,12.1-3.6c3.9-3.9-0.3-8.2,3.6-12.1c3.9-3.9,8.2,0.3,12.1-3.6"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	993.2,689.5 983.2,689.5 983.2,679.5 973.2,679.5 973.2,669.5 "/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1163.8,486c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1175.9,486.6c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="396" cy="802.7" r="11.3"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	1111.5,385.2 1121.5,385.2 1121.5,395.2 1131.5,395.2 1131.5,405.3 "/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		269.5,331.9 273.7,359.3 247,348.4 	"/>
</g>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="22" cy="698.2" r="11.3"/>
<rect x="1220.3" y="267.9" transform="matrix(-0.2205 0.9754 -0.9754 -0.2205 1767.3555 -861.3502)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	529.7,586.9 539.8,586.9 539.8,596.9 549.8,596.9 549.8,606.9 "/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M316.2,448.4c3.9-3.9,8.2,0.3,12.1-3.6s-0.3-8.2,3.6-12.1s8.2,0.3,12.1-3.6s-0.3-8.2,3.6-12.1s8.2,0.3,12.1-3.6s-0.3-8.2,3.6-12.1
	s8.2,0.3,12.1-3.6"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1163.8,38.4c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1175.9,39.1c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M663,133.5c-5.4,4.9-13.3,4.8-18.7-0.4c-5.5-5.1-6-13-1.5-18.7"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M593,559.3c6,4.1,7.9,11.7,4.2,18.3c-3.7,6.5-11.1,9-17.7,6"/>
<polyline fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
	1159.1,139.4 1169.1,139.4 1169.1,149.4 1179.1,149.4 1179.1,159.4 "/>
<g>

		<polygon fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		246.7,136.9 267.9,154.8 240.6,164 	"/>
</g>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M663,581c-5.4,4.9-13.3,4.8-18.7-0.4c-5.5-5.1-6-13-1.5-18.7"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M359.6,113.7c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M371.7,114.4c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M988.9,113.7c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M1001,114.4c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="518.4" cy="469.6" r="11.3"/>
<circle fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="1147.8" cy="22.1" r="11.3"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M697.5,405.1c2.1,1.7,9.8,9.8,11.5,12"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M709.6,405.8c-2.3,1.5-10.8,8.7-12.7,10.7"/>
</g>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M609.3,348.8c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M595.6,359.5c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M598.5,376.6c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M614.9,382.3c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M627.7,370.6c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M623.6,353.7c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<rect x="590.9" y="268" transform="matrix(-0.2205 0.9754 -0.9754 -0.2205 999.2581 -247.4007)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<g>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M126.7,310.1c-0.5,1.9-0.2,4.4,0.4,6.3"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M113,320.8c1.4,1.4,3.7,2.2,5.7,2.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M115.9,338c1.9-0.6,3.8-2.2,5.1-3.7"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M132.4,343.6c0.4-1.9-0.1-4.4-0.8-6.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M145.2,331.9c-1.5-1.3-3.9-2-5.9-2.2"/>
	<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M141,315c-1.8,0.7-3.6,2.5-4.8,4.1"/>
</g>
<rect x="806.6" y="414.3" transform="matrix(-0.9379 0.3469 -0.3469 -0.9379 1724.2151 535.0775)" fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="15.2" height="15.2"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1269.1,440.1c-6.6,3.1-14.1,0.8-17.9-5.7s-2.1-14.1,3.9-18.3"/>
<path fill="none" stroke="#3FBDB0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M1106.7,42.6c-3.9,3.9-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1s-8.2-0.3-12.1,3.6s0.3,8.2-3.6,12.1
	s-8.2-0.3-12.1,3.6"/>
</svg>

</template>


<script>

</script>

<style>

.wiggles * {
  stroke-width: 3;
}

</style>