<template>

<div class="wrapper -articles">

     <the-item
          v-for="article in articles"
          :key="article.id"
          :article="article"
     >
     </the-item>

</div><!-- /.wrapper -->

</template>


<script>

import TheItem from '@/components/TheItem/TheArticle';
import articles from '@/queries/article.gql';

export default {
     components: {
          TheItem,
     },
     head: {
          title: "..."
     },
     apollo: {
          articles: {
               query: articles,
               prefetch: ({ route }) => {
                    return {
                         slug: route.params.Slug
                    }
               },
               variables() {
                    return {
                         slug: this.$route.params.Slug,
                    }
               },
               // pollInterval: 5000
          }
     },
}

</script>