<template>

<article
	:class="['article']"
>
	<nuxt-link :to="'/articles/' + slug + '/'"" >

		<figure class="_thumb">
			<v-lazy-image
				:alt="title"
				v-for="image in images.slice(0,1)"
				:key="image.public_id"
				:src="processImageURL(image.url, '302')"
			/>
		</figure>

		<h1 class="_title -article-title">
			{{ title }}
		</h1>

		<the-attribution
			:date="publishDate"
			:authors="authors"
			:include_link="'n'"
		/>

		<div class="_blurb" v-html="$md.render(blurb)"></div>

	</nuxt-link>

</article>

</template>


<script>

import TheAttribution from '@/components/TheItem/TheAttribution';

export default {
	components: {
		TheAttribution
	},
	props: {
		authors: {
			required: true
		},
		title: {
			required: true
		},
		slug: {
			required: true
		},
		publishDate: {
			required: true
		},
		images: {
			required: true
		},
		blurb: {
			required: true
		},
	},
	methods: {
		processImageURL(url, width) {
			let code = url.substring(url.lastIndexOf('/') + 1);
			let newURL = 'https://res.cloudinary.com/via-montessori/image/upload/if_w_gt_' + width + ',c_scale,w_' + width + '/q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + code;
			return newURL;
		}
	}
}

</script>


<style lang="scss">

article.article {

	border-radius: 1rem;
	margin: 0.75rem;
	margin-bottom: 1.5rem;
	max-width: 24rem;
	min-width: 24rem;
	padding: 1.5rem;
	transition: all 0.125s ease;
	width: 24rem;

	&:last-of-type {

		@media($for-mobile) {

			margin-right: 1rem;
		}
	}

	@media($for-non-mobile) {

		background: rgba(255,255,255,0.25);

		._blurb,
		._attribution {

			opacity: 0;
			transition: all 0.25s ease;
		}
	} 

	@media($for-mobile) {

		background: rgba(255,255,255,0.9);
		margin-left: 1rem;
		margin-right: 0;
		padding: 1rem;
	}

	@media($for-mobile-vertical) {

		max-width: 92.5%;
		min-width: 92.5%;
		width: 92.5%;
	}

	&:hover {

		background: rgba(255,255,255,0.9);
		transition: all 0.125s ease;

		h1 {

			color: $chinese-red;
		}

		._blurb,
		._attribution {

			opacity: 1;
		}

		._attribution p .-person-name {
		}
	}

	h1 {
		color: $chinese-red;
		font-size: 1.5rem;
		line-height: 1.75rem;
		padding-left: 0;
		padding-right: 0;

		@media($for-mobile) {

			font-size: 1.25rem;
			line-height: 1.25;
		}
	}

	._thumb {

		img {

			background: #fff;
			border-radius: 1rem;
			border: 0.15rem solid #fff;
			max-height: 20rem;
			width: 100%;
		}

		img[lazy=loading] {

			background: $smokey-topaz;
			height: 12rem;
		}
	}

	._attribution {

		font-size: 0.85rem;
		line-height: 1.25;
		max-width: 40rem;
		text-align: right;

		margin: {
			top: 0.75rem;
			left: auto;
			right: auto;
		}

		&._date {

			margin-bottom: 0rem;
		}

		&._credit {

			margin-bottom: 3rem;
			transform: rotate(5deg);
		}

		p {

			.-person-name {

				display: inline-block;
			}
		}
	}

	._blurb {

		p {

			font-weight: 400;
			margin-bottom: 0;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

</style>