.-bg-color {

     &.-life-skills {
          background-color: #0097d7
     }

     &.sensorial {
          background-color: #a73820;
     }

     &.-mathematics {
          background-color: #508ca4;
     }

     &.-language {
          background-color: #6761a8;
     }

     &.-cultural  {
          background-color: #007f00;
     }
}

article.-language blockquote {
//     background-color: #6761a8;
}



.-bg-gradient {

     &.-life-skills {
          background: linear-gradient(#0097d7 , #3dfc8f);

          &.-reverse-gradient {
               background: linear-gradient(#3dfc8f, #0097d7);
          }
     }

     &.-sensorial {
          background: linear-gradient(#a73820, #e1bc29);

          &.-reverse-gradient {
               background: linear-gradient(#e1bc29, #a73820)
          }
     }

     &.-mathematics  {
          background: linear-gradient(#508ca4 , #a9dbb8)

     }

     &.-language  {
          background: linear-gradient(#6761a8 , #eae0cc);
     }

     &.-cultural  {
          background: linear-gradient(#007f00, #baab68);
     }
}

.-life-skills blockquote {
     background: linear-gradient(#3dfc8f , #0097d7 20% 80%, #3dfc8f );
     background: #0097d7;
}

.-sensorial blockquote {
     background: linear-gradient(#e1bc29, #a73820 35% 65%, #e1bc29);
     background: #a73820;
}

.-mathematics blockquote {
     background: linear-gradient(#a9dbb8, #508ca4 50%);
     background: #508ca4;
}

.-language blockquote {
     background: linear-gradient(#eae0cc, #6761a8 20% 80%, #eae0cc);
     background: #6761a8;

}

.-cultural blockquote {
     background: linear-gradient(#baab68, #007f00 40% 60%, #baab68);
     background: #007f00;
}

.-bg-aztec {
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.-bg-aztec-lite {
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23000000' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.-bg-aztec-lite-very {
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23000000' fill-opacity='0.025' fill-rule='evenodd'/%3E%3C/svg%3E");
}