/* Definitions
Mobile Smaller (-374): Older/smaller phones
Mobile (375-699): Modern phones
Reduced More (700-950): Phone in horizontal
Reduced (950-1200): Tablet in vertical, big phones in horizontal
Fullsize (1201-1600): Tablets in horizontal, smaller desktops/laptops
Larger (1601-): Bigger desktops/laptops
Largest (1921-): external displays
*/

$mobile-smaller-raw: 374;
$mobile-vertical-raw: 450;
$mobile-raw: 700; // Not arbitrary; due to words in learning areas menu not fitting on 2 lines any smaller than this
$reduced-more-raw: 950;
$reduced-raw: 1200;
$larger-raw: 1600;
$largest-raw: 1920;

$mobile-smaller: $mobile-smaller-raw + "px";
$mobile: $mobile-raw + "px";
$mobile-vertical: $mobile-vertical-raw + "px";
$reduced: $reduced-raw + "px";
$reduced-more: $reduced-more-raw + "px";
$larger: $larger-raw + "px";
$largest: $largest-raw + "px";

/***********
// THE CALLS - AEEEIH!!!
***********/

$for-mobile-smaller: "max-width: " + $mobile-smaller;
$for-mobile: "max-width: " + $mobile;
$for-mobile-vertical: "max-width: " + $mobile-vertical;
$for-reduced-more: "max-width: " + $reduced-more;
$for-reduced: "max-width: " + $reduced;

// Here we cross from max- to min-width calls...

$for-non-mobile: "min-width: " + $mobile;
$for-fullsize: "min-width: " + $reduced;
$for-larger: "min-width: " + $larger;
$for-largest: "min-width: " + $largest;

// ...Except this one that should probably go

$for-non-largest: "max-width: " + $largest;
