<template>

<div class="wrapper -activities">

     <the-item
          v-for="activity in activities"
          :key="activity.id"
          :activity="activity"
     >
     </the-item>

</div><!-- /.wrapper -->

</template>


<script>

import TheItem from '@/components/TheItem/TheActivity';
import activities from '@/queries/activity.gql';

export default {
     components: {
          TheItem,
     },
     head: {
          title: "..."
     },
     apollo: {
          activities: {
               query: activities,
               prefetch: ({ route }) => {
                    return {
                         slug: route.params.Slug
                    }
               },
               variables() {
                    return {
                         slug: this.$route.params.Slug,
                    };
               },
          //     pollInterval: 5000
          }
     },
}

</script>